@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  overflow-x: hidden;
}

header {
  display: flex;
  background-color: #f5ba13;
  margin: auto -16px;
  width: 97.3vw;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  flex: auto;
}
.Loyalty {
  color: #ff5e00;
  flex: inherit;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  transition: 0.3s ease-in-out;
}
.Loyalty:hover {
  font-weight: 800;
  font-size: 40px;
  color: #7e2e00;
}
#Atag {
  text-decoration: none;
}
footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  text-align: center;
  bottom: 0;
  padding: 16px 32px;
  margin: auto -16px;
  width: 100vw;
  height: 2.5rem;
  align-items: center;
  background-color: #4e4b445a;
}
i {
  font-size: 30px;
  cursor: pointer;
  color: rgb(59, 55, 55);
}

footer p {
  color: #ccc;
  font-size: 20px;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  background-color: #f5ba13;
  color: #ffffff;
  border: none;
  width: 60px;
  height: 36px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
